body {
    background-color: #1f7dff;
    border: 12px solid #1055b4;
    margin: 0px;
}

header {
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 3vw;
    padding-left: 15vw;
}

ul {
    box-sizing: border-box;
    font-size: 0px;
    margin: 0 auto;
    padding: 0px;
    width: 70vw;
}

footer {
    padding-left: 17vw;
    margin-right: 3vw;
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 1.8vw;
}

.weather-icons {
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: weathericons;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 5vw;
    padding-top: 5vw;
    position: relative;
    text-align: center;
    transition: opacity .2s ease-in;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blue {
    background-color: #1f7dff;
}

.lightblue {
    background-color: #0ce6ff;
}

.darkviolet {
    background-color: #a0005f;
}

.red {
    background-color: #ef1500;
}

.orange {
    background-color: #ff4c02;
}

.yellow {
    background-color: #fbfe32;
}

.lightgreen {
    background-color: #76ff5b;
}

.lettuce {
    background-color: #a8ffa7;
}

.pink {
    background-color: #ffaaaa;
}

.darkgreen {
    background-color: #008a48;
}

.violet {
    background-color: #9900e2;
}

ul:hover li:not(:hover) {
    opacity: 0.5;
}

.width25 {
    width: 25%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.city {
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 1vw;
    right: 0;
    margin: auto;
}

.lisbon::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.paris::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.belgrade::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.moscow::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.tel-aviv::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.cair::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.new-york::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.new-delhi::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.san-francisco::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.tokyo::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}

.sydney::after {
    content: "\A\A 21\002103 \000020 \f00d";
    white-space: pre;
    font-weight: normal;
}
@media screen and (max-width: 600px) {
    .weather-icons {
        display: block;
        width: 100%;
        font-size: 3vw;
    }
}
