li {
    transition: opacity .2s ease-in;
}

body {
    background-color: #1f7dff;
    border: 12px solid #1055b4;
    margin: 0px;
}

p {
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 2vw;
    margin-bottom: 3vw;
    margin-left: 15vw;
    margin-top: 3vw;
}

ul {
    box-sizing: border-box;
    font-size: 0px;
    margin: 0 auto;
    padding: 0px;
    width: 70vw;
}

li {
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 1vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
    text-align: center;
}

.blue {
    background-color: #1f7dff;
}

.lightblue {
    background-color: #0ce6ff;
}

.darkviolet {
    background-color: #a0005f;
}

.red {
    background-color: #ef1500;
}

.orange {
    background-color: #ff4c02;
}

.yellow {
    background-color: #fbfe32;
}

.lightgreen {
    background-color: #76ff5b;
}

.lettuce {
    background-color: #a8ffa7;
}

.pink {
    background-color: #ffaaaa;
}

.darkgreen {
    background-color: #008a48;
}

.violet {
    background-color: #9900e2;
}

ul:hover li:not(:hover) {
    opacity: 0.5;
}

.width25 {
    width: 25%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.temperature::after {
    content: "\f00d";
}

.city {
    font-weight: bold;
}
